IMPORT LIBRARY

In [1]:
import pandas as pd
import numpy as np

MEMBACA DATA SET

In [ ]:
dataset = pd.read_csv('Tweets.csv')

MEMBACA TIPE DATA SET

In [3]:
dataset.dtypes

tweet_id                        float64
airline_sentiment                object
airline_sentiment_confidence    float64
negativereason                   object
negativereason_confidence       float64
airline                          object
airline_sentiment_gold           object
name                             object
negativereason_gold              object
retweet_count                     int64
text                             object
tweet_coord                      object
tweet_created                    object
tweet_location                   object
user_timezone                    object
dtype: object

MENAMPILKAN DATA SET

In [4]:
dataset

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,5.703061e+17,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,5.703011e+17,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,5.703011e+17,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,5.703010e+17,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,5.703008e+17,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,5.695877e+17,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,5.695874e+17,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,5.695872e+17,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,5.695872e+17,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,5.695871e+17,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

MENAMPILKAN JUMLAH,NAMA DAN JUMLAH ATRIBUT DATA SET

In [5]:
jumlahrecord = len(dataset)
namaatribut = dataset.columns
jumlahatribut = len(dataset.select_dtypes(include=['object']).columns)

dictobjt = {
    'jumlah record': jumlahrecord,
    'nama atribut' : namaatribut,
    'jumlah atribut' : jumlahatribut,
}
pd.Series(dictobjt)

jumlah record                                                 14640
nama atribut      Index(['tweet_id', 'airline_sentiment', 'airli...
jumlah atribut                                                   11
dtype: object

MENAMPILKAN JUMLAH ATRIBUT DAN ATRIBUT YANG MEMILIKI RECORD NULL

In [6]:
jumlahatribut = len(dataset.select_dtypes(include=['int64']).columns)
jumlahnull = len(dataset.columns[dataset.isna().sum() > 0])
dictint = {
    'jumlah atribut' : jumlahatribut,
    'jumlah atribut NULL' : jumlahnull,
}
pd.Series(dictint)

jumlah atribut         1
jumlah atribut NULL    7
dtype: int64

MENAMPILKAN RATA-RATA DATA SET TIPE INT

In [7]:
dataset.select_dtypes(include=['int64']).mean()

retweet_count    0.08265
dtype: float64

MENAMPILKAN STANDAR DEVIASI TIPE INT

In [8]:
dataset.select_dtypes(include=['int64']).std()

retweet_count    0.745778
dtype: float64

MENAMPILKAN NILAI MINIMUM TIPE INT

In [9]:
dataset.select_dtypes(include=['int64']).min()

retweet_count    0
dtype: int64

MENAMPILKAN NILAI MAKSIMUM TIPE INT

In [10]:
dataset.select_dtypes(include=['int64']).max()

retweet_count    44
dtype: int64

MENAMPILKAN NILAI QUANTILE TIPE INT

In [11]:
dataset.select_dtypes(include=['int64']).quantile([0.25, 0.50, 0.75])

      retweet_count
0.25            0.0
0.50            0.0
0.75            0.0

MENAMPILKAN DESKRIPSI DATA

In [12]:
dataset.describe()

,tweet_id,airline_sentiment_confidence,negativereason_confidence,retweet_count
count,1.464000e+04,14640.000000,10522.000000,14640.000000
mean,5.692184e+17,0.900169,0.638298,0.082650
std,7.791112e+14,0.162830,0.330440,0.745778
min,5.675883e+17,0.335000,0.000000,0.000000
25%,5.685592e+17,0.692300,0.360600,0.000000
50%,5.694779e+17,1.000000,0.670600,0.000000
75%,5.698905e+17,1.000000,1.000000,0.000000
max,5.703106e+17,1.000000,1.000000,44.000000

MENAMPILKAN KORELASI DATA

In [13]:
dataset.select_dtypes(include=['int64']).corr()

               retweet_count
retweet_count            1.0

MENGUBAH ANGKA KE FLOAT

In [14]:
dataset["tweet_id"] = dataset["tweet_id"].astype('float64', errors='ignore')
dataset["tweet_id"].dtypes

dtype('float64')

In [15]:
pd.options.display.float_format = '{:.3f}'.format
dataset.tweet_id.astype('float64')

0       570306133677760512.000
1       570301130888122368.000
2       570301083672813568.000
3       570301031407624192.000
4       570300817074462720.000
                 ...
14635   569587686496825280.000
14636   569587371693355008.000
14637   569587242672398400.000
14638   569587188687634432.000
14639   569587140490866688.000
Name: tweet_id, Length: 14640, dtype: float64

MENAMPILKAN DATA ANGKA 10 PERTAMA, OUTPUT 0 KARENA YG BERTIPE INT CUMA 1 ATRIBUT DAN DI UBAH KE FLOAT

In [16]:
dataset.select_dtypes(include=['int64']).head(10)

   retweet_count
0              0
1              0
2              0
3              0
4              0
5              0
6              0
7              0
8              0
9              0

In [ ]:
MENGUBAH KE FILE CSV UNTUK TIPE ANGKA

In [17]:
dataset.select_dtypes(include=['int64']).to_csv("Atribut_Bertipe TweetsAngka.csv", index=False)